 img[data-v-394b925b] {
    border-radius: 8px;
    height: 200px;
    -o-object-fit: cover;
    object-fit: cover;
    border-style: solid;
    border-color: #2a2d32;
    border-width: 3px;
    width: 100%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out
}

img[data-v-394b925b]:hover {
    -webkit-transform: scale(.95);
    transform: scale(.95);
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    overflow: hidden
}

.no-icon[data-v-394b925b] {
    border-style: solid;
    border-color: #2a2d32;
    border-width: 2px;
    border-radius: 8px;
    height: 200px;
    width: 100%;
    -o-object-fit: 200px;
    object-fit: 200px;
    background-color: #36393f
}

.no-icon[data-v-394b925b]:hover {
    -webkit-transform: scale(.95);
    transform: scale(.95);
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    overflow: hidden
}
